@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$dark: #333456;
$dark-soft: #72738e;
$light-text: #7f8c8d;
$light: #e6e8ea;

* {
  box-sizing: content-box;
}

body {
  color: $dark;
  font-family: "Roboto", sans-serif;
}

a,
a:hover,
a:visited,
a:active {
  color: $dark;
  text-decoration: none;
}

.z-navbar {
  padding-top: 40px;
  position: relative;
  padding: 15px 0;

  .navbar-list {
    svg {
      color: $light;
    }

    list-style: none;

    a {
      display: block;
    }

    li {
      display: inline-block;
      padding: 10px;
    }

    .navbar-btn {
      background-color: $light;
      border-radius: 25px;
      padding: 10px 20px;

      a {
        display: block;
      }
    }
  }
}

.phone-form {
  input[type="text"] {
    border: 0;
    border-radius: 0;
    outline: none;
    background: transparent;
    border-bottom: 2px solid $dark;
    padding-right: 5px;

    &:focus {
      outline: none;
    }
  }

  .button {
    background-color: $dark;
    margin: 0 5px;
    color: $light;
    padding: 8px 30px;
    border-radius: 30px;
  }
}

.header {
  padding-top: 50px;

  .lead {
    font-size: 4.8em;
  }

  .accent {
    font-size: 0.9em;
    font-weight: 600;
    color: $light-text;
  }
}

.about {
  .card {
    .card-content {
      background-color: $dark;
      color: $light;

      blockquote {
        font-style: italic;
        border-left: 3px solid $dark-soft;
        padding: 10px;
      }

      .media-content {
        p {
          color: $light;
        }
      }
    }
  }
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  padding: 20px 0;
  span {
    width: 50px;
    display: inline-block;
    border-top: 2px solid #72738e;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.z-title {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 10px;
}

.how-it-work {
  .image {
    margin: 0 auto;
  }
}

.widget {
  .widget-header {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 10px;
  }

  hr {
    background-color: $dark-soft;
  }

  .widget-paragraph {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    color: $light-text;
  }

  .widget-title {
    font-size: 1.2em;
    font-weight: bold;

    svg {
      padding-left: 20px;
    }
  }
}

.service {
  position: relative;

  .section-image {
    position: absolute;

    img {
      width: 450px;
    }
  }

  .service-infos {
    margin-top: 50px;
    margin-left: 400px;
    width: 50%;
    background-color: $dark;
    color: #ffffff;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;

    .title {
      padding-top: 20px;
      color: #ffffff;
      text-align: center;
    }

    .columns {
      padding-top: 40px;
    }

    .caption,
    p {
      font-size: 1em;
      color: $light-text;
    }

    .media-title {
      color: #ffffff;

      svg {
        padding-left: 20px;
      }
    }
  }
}

.pricing {
  text-align: center;
}

.package {
  text-align: center;

  .package-title {
    font-size: 2.5em;
    padding: 20px 0;
  }

  .package-subtitle {
    font-size: 1.1em;
  }

  .price {
    font-size: 2em;
    padding: 20px 0;
  }

  hr {
    background-color: $dark-soft;
  }

  .description {
    padding: 20px 55px;
  }

  .button {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: $dark;
    color: $light;
  }

  .recommanded {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
  }
  .is-recommanded {
    border-top: 4px solid $dark;
    box-shadow: -1px 0px 58px -5px rgba(0, 0, 0, 0.63);
  }
}

.car-section {
  position: relative;
  padding-top: 50px;
  .z-title {
    text-align: start;
  }
  .description {
    padding-top: 20px;
  }
  .images {
    .image {
      padding-bottom: 20px;
    }
    .lead-image{
      width: 400px;
    }
    .second-image {
      width: 200px;
    }
  }
}
