@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$dark: #333456;
$dark-soft: #72738E;
$light: #E6E8EA;

* {
  box-sizing: content-box;
}

body {
  color: $dark;
  font-family: 'Roboto', sans-serif;
}

a,
a:hover,
a:visited,
a:active {
  color: $dark;
  text-decoration: none;
}

.z-navbar {
  padding-top: 40px;
  position: relative;
  padding: 15px 0;

  .navbar-list {
    svg {
      color: $light;
    }

    list-style: none;

    a {
      display: block;
    }

    li {
      display: inline-block;
      padding: 10px;
    }

    .navbar-btn {
      background-color: $light;
      border-radius: 25px;
      padding: 10px 20px;

      a {
        display: block;
      }
    }
  }
}

.phone-form {
  input[type="text"] {
    border: 0;
    border-radius: 0;
    outline: none;
    background: transparent;
    border-bottom: 2px solid $dark;
    padding-right: 5px;
    &:focus {
      outline: none;
    }
  }

  .button{
    background-color: $dark;
    margin: 0 5px;
    color: $light;
    padding: 8px 30px;
    border-radius: 30px;
  }
}

.header{
  padding-top: 50px;
  .lead{
    font-size: 4.8em;
  }
  .accent{
    font-size: .9em;
    font-weight: 600;
    color: #7f8c8d;
  }
}